{% extends 'base.html.twig' %}

{% block title %}Mofidier un Modèle{% endblock %}

{% block body %}
    <h1>Modifier un modèle</h1>

    {{ include('modele/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
<br>
    <a class="btn btn-primary" href="{{ path('modele_index') }}">Retour</a>

{% endblock %}
