{% extends 'base.html.twig' %}

{% block title %}Ajouter un modèle{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau modèle</h1>

    {{ include('modele/_form.html.twig') }}
<br>
     <a class="btn btn-primary" href="{{ path('modele_index') }}"><i class="bi bi-skip-backward-fill"></i>  Retour</a>
{% endblock %}

