{% extends 'base.html.twig' %}

{% block title %}{% trans %}Commandez votre voiture{% endtrans %}{% endblock %}

{% block body %}
	<h1>{% trans %}Merci de saisir votre informations personnelles{% endtrans %}</h1>
	{# read and display just one flash message type #}
	{% for message in app.flashes('notice') %}
		<div class="alert alert-success" role="alert">
			{{ message }}
		</div>
	{% endfor %}
	{{ include('commande/_form.html.twig') }}
	<br>
	<a href="{{ path('index') }}" class="btn btn-primary">{% trans %}Retour{% endtrans %}
	</a>
{% endblock %}
