{% extends 'base.html.twig' %}

{% block title %}Commandez votre voiture{% endblock %}

{% block body %}
    <h1>Merci de saisir votre informations personnelles</h1>

    {{ include('client/_form.html.twig') }}
    <br>
    <a href="{{ path('client_index') }}" class="btn btn-primary"><i class="bi bi-skip-backward-fill"></i>  Retour </a>
{% endblock %}
