<form method="post" action="{{ path('marque_delete', {'id': marque.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cette marque?');" style="display:inline;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ marque.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
