{% extends 'base.html.twig' %}

{% block title %}Modifier une Marque{% endblock %}

{% block body %}
    <h1>Modifier une Marque</h1>

    {{ include('marque/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
<br>
    <a class="btn btn-primary" href="{{ path('marque_index') }}"><i class="bi bi-skip-backward-fill"></i> Retour </a>

{% endblock %}
