{% extends 'base.html.twig' %}

{% block title %}Modifier un type de carburant{% endblock %}

{% block body %}
    <h1>Modifier type de carburant</h1>

    {{ include('carburant/_form.html.twig', {'button_label': 'Mettre à  jour'}) }}
<br>
    <a class="btn btn-primary" href="{{ path('carburant_index') }}">Retour</a>

{% endblock %}
