{% extends 'base.html.twig' %}

{% block title %}Edit Carburant{% endblock %}

{% block body %}
    <h1>Edit Carburant</h1>

    {{ include('carburant/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('carburant_index') }}">back to list</a>

    {{ include('carburant/_delete_form.html.twig') }}
{% endblock %}
