{% extends 'base.html.twig' %}

{% block title %}{% trans %}Modifier un type de carburant{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Modifier type de carburant{% endtrans %}</h1>

    {{ include('carburant/_form.html.twig', {'button_label': 'Modifier carburant'|trans } ) }}
<br>
    <a class="btn btn-primary" href="{{ path('carburant_index') }}"><i class="bi bi-skip-backward-fill"></i>  {% trans %}Retour{% endtrans %}</a>

{% endblock %}
