{% extends 'base.html.twig' %}

{% block title %}Ajouter un type de carburany{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau type de carburant</h1>

    {{ include('carburant/_form.html.twig') }}
    <br>
    <a class="btn btn-primary" href="{{ path('carburant_index') }}">Retour</a>
{% endblock %}
