{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>General error</h1>
    <p>
        You have an error, please return to your <a href="{{ path('index') }}">homepage</a>.
    </p>
{% endblock %}