{% extends 'base.html.twig' %}

{% block title %}Modifier voiture{% endblock %}

{% block body %}
    <h1>Modification une voiture</h1>

    {{ include('voiture/_form.html.twig', {'button_label': 'Update'}) }}
    <br>
    <a class="btn btn-primary" href="{{ path('voiture_index') }}"><i class="bi bi-skip-backward-fill"></i> Retour </a>
{% endblock %}
